@media (max-width: 991px) {
    #addEvent {
        display: flex  !important;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        width: 100%;
        padding: 40px 30px 30px;
        margin-bottom: 0 0 40px;
        background-color: #E3D5CA !important;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
    
    }

    .container .row #myEvents {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px 20px;
    }

    .container .row #myEventList {
        margin: 0;
        padding: 0;
        background-color: #E3E3DD !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    

    .container .row #myEventList #eventCard{
        display: flex;
        flex-direction: column;
        margin: 10px 0; /*Välit*/
        padding: 20px 40px; /*Tämä*/
    }

    .container .row #myEventList .img {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        max-width: 100% !important;
    }
} 

@media (min-width: 992px) {
    #addEvent {
        display: flex  !important;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        max-width: 100%;
        height: 100%;
        padding: 40px 30px 30px;
        margin-bottom: 0 0 40px;
        background-color: #E3D5CA !important;
    }

    .container .row #myEventList {
        background-color: #E3E3DD !important;
        width: 100% !important;
    }


    .container .row #myEventList #myEvents {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        max-width: 33%;
    }

    .container .row #myEventList #eventCard{
        margin-bottom: 15px; /*Tämä*/
        padding: 15px; /*Tämä*/
    }

    .container .row #myEventList .img {
        max-width: 100% !important;
    }
} 

