.container-login {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: min(10px, 100px);
  background-image: url('kuvat/act.webp');   
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.container-background .form_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  padding: min(20px, 500px);
  border-radius: 7px;
  background-color: #CFB63A;
}

.container-background .form_content .md-12 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container-background .form_content .col-12 {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: 100%;
}

.container-background .form_content .link-secondary {
  color: black !important;
}

@media (min-width: 576px) {
  .container-login {
    padding: 0 20px 0 20px;
  }
  .container-background {
    max-width: 80%;
  }

  .container-background .form_content {
    max-width: 500px;
  }

  .container-background .form_content .md-12  {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 768px) {
  .container-background .form_content .md-12  {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 992px) {
  .container-background .form_content .md-12  {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb; 
    border-radius: 4px; 
    padding: 10px; 
    margin-bottom: 15px; 
}



  
